<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactos</title>
    <link rel="stylesheet" href=../css/style.css>
    
</head>

<body>
    <div>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contactos.html">Contactos</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <img src="../img/contactos.jpg" alt="" width="1300px" height="700px">
            <div class="descripcion">
                <h1>Leon</h1>
                <p>El león es un mamífero carnivoro que pertenece a la familia de los felinos.</p>
            </div>
        </main>
    </div>
    
</body>
</html>