<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Productos</title>
<link rel="stylesheet" href="../css/style.css">
</head>

<body>

<header>
<nav class="menu">
<ul>
<li><a href="../index.html">Inicio</a></li>
<li><a href="productos.html">Productos</a></li>
<li><a href="servicios.html">Servicios</a></li>
<li><a href="contactos.html">Contactos</a></li>
</ul>
</nav>
</header>

<!-- IMAGEN DE PORTADA -->

<section class="portada">
<img src="../img/historiadelclub.jpg" alt="Productos Valledupar FC">
</section>

<section class="titulo">
<h1>Tienda Oficial Valledupar FC</h1>
</section>

<section class="productos">

<div class="producto">
<img src="../img/camiseta.jpg">
<h3>Camiseta Oficial</h3>
<p>$120.000</p>
<button>Comprar</button>
</div>

<div class="producto">
<img src="../img/gorra.jpg">
<h3>Gorra Oficial</h3>
<p>$60.000</p>
<button>Comprar</button>
</div>

<div class="producto">
<img src="../img/bufanda.jpg">
<h3>Camiseta oficial de visitante</h3>
<p>$45.000</p>
<button>Comprar</button>
</div>

<div class="producto">
<img src="../img/balon.jpg">
<h3>Balón Oficial</h3>
<p>$80.000</p>
<button>Comprar</button>
</div>

</section>

</body>
</html>
